<header class="header">
	<div class="header__row">
		<div class="header__cell">
			<div class="header__logo-container">
				<a href="/" class="header__logo-link">
					<svg class="header__logo">
						<use xlink:href="../img/svg/sprite.symbol.svg#bokmål_logo"></use>
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown_page-baby" id="dropdown">
				<span class="dropdown__text">Baby side</span>
				<div class="dropdown__arrow" id="dropdown__arrow">&rsaquo;</div>
			</div>

		</div>
		<div class="header__cell">
			<nav class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">Про Букмоль</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Співпраця</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Підтримка</a>
					</li>
				</ul>
			</nav>
			<div class="header__service">
				<svg class="header__icon icon--search">
					<use xlink:href="../img/svg/sprite.symbol.svg#search"></use>
				</svg>
				<svg class="header__icon icon--bookmark">
					<use xlink:href="../img/svg/sprite.symbol.svg#bookmark"></use>
				</svg>
			</div>
		</div>
	</div>
	<div class="header__submenu submenu" id="submenu">
		<ul class="submenu__list">
			<li class="submenu__item">
				<a href="/" class="submenu__link">
				Для усіх</a>
			</li>
			<li class="submenu__item">
				<a href="baby-side.html" class="submenu__link submenu__link_page-baby">
				Baby side</a>
			</li>
			<li class="submenu__item">
				<a href="#" class="submenu__link">
				Teen side</a>
			</li>
		</ul>
	</div>
</header>